<ion-header>

  <ion-navbar color="toolbar">
    <ion-title>Acessar e-commerce</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">

  <ion-item color="bg">
    <ion-label floating color="orange-contrast">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item color="bg">
    <ion-label floating color="orange-contrast">Senha</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <button ion-button block clear (click)="login()" color="orange-contrast" [disabled]="!canLogin()">Entrar</button>
  <button ion-button block clear (click)="signup()" color="light">Criar conta</button>

</ion-content>
