<ion-header>

  <ion-navbar color="toolbar">
    <ion-buttons start>
      <ion-spinner name="crescent" *ngIf="loading" color="orange-contrast">
      </ion-spinner>
    </ion-buttons>
    <ion-title>Carrinho</ion-title>
    <ion-buttons end>
      <button ion-button clear color="orange-contrast" (click)="finishOrder()" [disabled]="!items.length">Finalizar pedido</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">

  <p class="empty-state-message" *ngIf="!items.length">Seu carrinho está vazio!</p>

  <ion-card *ngFor="let i of items" color="toolbar">
    <ion-card-header>
      {{i.product.name}}
    </ion-card-header>
    <ion-card-content>
      <p>Quantidade: {{i.amount}}</p>
      <p>Total: {{i.total}}</p>
      <ion-buttons end>
        <button ion-button color="danger" (click)="removeItem(i.id)" [disabled]="loading">Remover</button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>

</ion-content>
