<ion-header>
  <ion-navbar color="toolbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <ion-spinner name="crescent" *ngIf="loading">
      </ion-spinner>
      <button ion-button icon-only (click)="goToCart()">
        <ion-badge color="badge" *ngIf="cartItems.length">{{cartItems.length}}</ion-badge>
        <ion-icon ios="ios-cart" md="md-cart" color="light"></ion-icon>
      </button>
      <button ion-button icon-only (click)="openLogoutActionSheet()">
        <ion-icon ios="ios-log-out" md="md-log-out" color="danger"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Lojinha</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">

  <p class="empty-state-message" *ngIf="!products.length">
    Nenhum produto cadastrado ainda, consulte o lojista!
  </p>

  <ion-card *ngFor="let i of products" color="toolbar">
    <ion-card-header>
      {{i.name}}
    </ion-card-header>
    <ion-card-content>
      <p class="labels">Preço: R$ {{i.price}}</p>
      <ion-buttons end>
        <ion-icon ios="ios-cart" md="md-cart" color="orange-contrast" *ngIf="isCartAdded(i.id)"></ion-icon>
        <button ion-button *ngIf="!isCartAdded(i.id)" (click)="viewProduct(i.id)" color="orange-contrast">Visualizar</button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>
