<ion-header>

  <ion-navbar color="toolbar">
    <ion-buttons start>
      <ion-spinner name="crescent" *ngIf="loading" color="orange-contrast">
      </ion-spinner>
    </ion-buttons>
    <ion-title>{{product.name}}</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="addToCart()" color="orange-contrast" [disabled]="!amount">Adicionar</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">
  
  <ion-item color="toolbar">
    <ion-label>R$ {{product.price}}</ion-label>
  </ion-item>
  
  <ion-item color="toolbar">
    <ion-label floating>Quantidade</ion-label>
    <ion-input type="number" [(ngModel)]="amount" (ionChange)="calculateTotal($event)"></ion-input>
  </ion-item>
  
  <ion-item color="toolbar">
    <ion-label>{{total}}</ion-label>
  </ion-item>

</ion-content>
