<ion-header>

  <ion-navbar color="toolbar">
    <ion-buttons start>
      <ion-spinner name="crescent" color="orange-contrast" *ngIf="loading">
      </ion-spinner>
    </ion-buttons>
    <ion-title>Criar nova conta</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="save()" color="orange-contrast" [disabled]="!canSignup()">Salvar</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">

  <ion-item color="bg">
    <ion-label floating color="orange-contrast">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item color="bg">
    <ion-label floating color="orange-contrast">Senha</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-item color="bg">
    <ion-label floating color="orange-contrast">Digite novamente a senha</ion-label>
    <ion-input type="password" [(ngModel)]="retypePassword"></ion-input>
  </ion-item>


</ion-content>
  
